* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
body {
    background-image: url(https://c0.wallpaperflare.com/preview/184/811/591/blur-bread-rolls-counter-cup.jpg);
    position: relative;
    background-size: cover;
      /* Full height */
    height: 100%;
    background-repeat: no-repeat;
}
.label{
    color: rgb(255, 255, 255);
    text-align: center;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: solid white; */
}

.recipe {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
  }

.food-list {
    color: aliceblue;
    text-align: left;
    /* border: solid yellow; */
}
.recipe-image{
    height: 10cm;
    width: 20cm;
    display:block;
    color: beige;
    justify-content:space-around;
    margin: 50px;
}
.comments{
    display:block;
    color: beige;
    justify-content:space-around;
}
